# Ignore checkpoints created
.ipynb_checkpoints

# Sublime Projects
*.sublime-workspace

# Ignoring paysense notebooks
paysense/

__pycache__/
*.py[cod]
*$py.class
config/db.conf


#OS specific
.DS_Store

#text swap files
*.swp
